@import "tailwindcss";

/* FORCE CLASS-BASED DARK MODE */
@custom-variant dark (&:where(.dark, .dark *));

/* THEME */
:root {
  --color-primary: 124 58 237;
  --color-primary-text: 255 255 255;
}

.dark {
  --color-primary: 139 92 246;
}

/* BASE FONT */
html {
  font-family: Inter, system-ui, sans-serif;
}

/* 🌈 BACKGROUND BLOB */
.blob-outer-container {
    z-index: 0;
    filter: blur(100px);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    inset: 0;
}

.blob-inner-container {
    background-color: #fff;
    border-radius: 99999px;
    width: 100vw;
    min-width: 1000px;
    height: 100vh;
    margin: auto;
    position: absolute;
    inset: 0;
    overflow: hidden;
    transform: scale(.8);
}

.blob {
    background: conic-gradient(#08f,#f60,#bbffa1,#4c00ff,#ab2666,#09f);
    width: 100vw;
    height: 100vh;
    margin: auto;
    animation: 8s linear infinite spinBlob;
    position: absolute;
    inset: 0;
}

/* ROTATION */
@keyframes spinBlob {
  to {
    transform: rotate(360deg);
  }
}



/* FLOATING MOTION */
/* @keyframes floatBlob {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-40px) scale(1.05);
  }
} */





@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}
